<div class="product-card" appDebounceResize #cardRef="debounceResize">
    @if (smallView()) {


    } @else {
    <div class="rounded m-2 p-4 box-shadow">
        <div class="mb-4">
            <div class="position-relative mx-auto">
                <img [src]="product().thumbnail" [alt]="product().thumbnail"
                    class="w-100 rounded object-fit-contain img">

                <p-tag [value]="product().availabilityStatus" [severity]="getSeverity(product().availabilityStatus)"
                    class="position-absolute" styleClass="dark:!bg-surface-900" [style]="{ 'left.px': 5, 'top.px': 5 }">
                </p-tag>

                <p-tag [value]="product().category" styleClass="dark:!bg-surface-900" severity="danger">
                    <i class="pi pi-bars"></i>
                </p-tag>
            </div>
        </div>
        <div class="mb-4 font-medium">{{ product().title }}</div>
        <div class="mb-4 d-flex justify-content-between">
            <p-tag [value]="product().brand" styleClass="dark:!bg-surface-900" severity="contrast">
                #
            </p-tag>
            <p-rating [(ngModel)]="product().rating" />
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div class="mt-0 font-semibold text-xl">{{ product().price | currency:'EUR':'symbol':'0.0-2' }}</div>
            <span>
                <button pButton icon="pi pi-heart" severity="secondary" [outlined]="true"></button>
                <button pButton icon="pi pi-shopping-cart" class="mx-2 custom-btn"></button>
            </span>
        </div>
    </div>
    }
</div>