@use "src/app/theme/functions.scss";

.product-card {


    .box-shadow {
        box-shadow: functions.shadow(var(--box-shadow-color));
    }

    .custom-btn {
        background: linear-gradient(135deg, var(--background-primary), var(--background-danger));
        border: none;
    }

    .p-tag {
        top: 0;
        left: 0;
    }

    .img {
        width: 330px !important;
        height: 330px !important;
    }



    .font-bold {
        font-weight: bold;
    }

    .font-light {
        font-weight: 100;
    }

    .text-xl {
        font-size: x-large;
    }

    ::ng-deep .p-image-preview:hover>.p-image-preview-mask {
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 6px;
    }

    .me-3 {
        margin-inline-end: 3rem;
    }

    a {
        color: var(--color);
        text-decoration: none;
    }
}