<main>
    <div>
        <div class="d-md-flex d-block ">
            <div class="w-100 welcome-section">
                <h1>Welcome to website</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates vitae ab at aliquid rerum
                    beatae
                    doloribus, consequuntur sunt nostrum asperiores, officia est error hic earum aperiam rem atque,
                    necessitatibus natus?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique mollitia quidem debitis harum
                    est. Reprehenderit deserunt laudantium accusantium animi assumenda quam blanditiis voluptas iure
                    dolorem, tenetur hic minus vero expedita.
                </p>
            </div>
        </div>
    </div>
</main>