@use "@/theme/functions.scss";

.welcome-section {
    background: url('/assets/imgs/login-page.jpg');
    min-height: 60vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: var(--bs-light);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    color: var(--background-primary);
}