/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use "bootstrap/scss/bootstrap";

:root {
    --background-primary: #7f41ff;
    --background-danger: #f04e98;
    --background-light-primary: #6452ed;
    --background-light-danger: #bb68c8;
    --background: #fff;
    --color: rgba(0, 0, 0, 0.8);
    --box-shadow-color: rgba(0, 0, 0, 0.2);
    --secondary-color: rgba(0, 0, 0, 0.7);
    --overlay-background: #000000e8
}

.cursor-pointer {
    cursor: pointer !important;
}