/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use "bootstrap/scss/bootstrap";

:root {
    --welcome-primary: #7f41ff;
    --welcome-secondary: #f04e98;
    --background-color-primary: #6452ed;
    --background-color-secondary: #bb68c8;
}